# This is an example file
DB_USER=mindy
DB_PASSWORD=mindy2026
DB_NAME=mindy_task
JWT_SECRET=supersecretkeychangeinprod
APP_ENV=development
ALLOWED_ORIGIN=http://localhost:8080

# 👇 Host = localhost si la app corre localmente sin docker compose
DATABASE_URL=postgresql+psycopg2://${DB_USER}:${DB_PASSWORD}@localhost:5432/${DB_NAME}
